#Documents
.~lock*

/Systemarkitektur/UseCase4.odt
/Kode/SIR/SIR.Tests/dllMock.cs
/Kode/SIR/RoboGO/bin
/Kode/SIR/DSL/bin
/Kode/SIR/DSL/bin
/Kode/SIR/DSL/bin/Debug/Par
/Kode/SIR/RoboGO/bin
/Kode/SIR/RoboGO/bin/Debug
/Kode/SIR/RoboGO/bin/Debug/Par